<h3>随机一句话而已</h3>
<div class="slider-panel">
<script type="text/javascript" src="https://api.lwl12.com/hitokoto/main/get?encode=js&charset=utf-8">
</script>
<div id="lwlhitokoto" id="post-directory-module" class="mobile-hidden">
    <script>
        lwlhitokoto();
    </script>
</div>
</div>
</br>
<h4>不影响阅读的广告位</h4>
<script type="text/javascript">
    /*250*120 创建于 2017/8/24*/
    var cpro_id = "u3070230";
</script>
<script type="text/javascript" src="http://cpro.baidustatic.com/cpro/ui/c.js"></script>
</div>