--- layout: default ---
<section class="collection-head small geopattern" data-pattern-id="{{ page.title | truncate: 15, ''}}">
    <div class="container">
        <div class="columns">
            <div class="column three-fourths">
                <div class="collection-title">
                    <h1 class="collection-header">{{ page.title }}</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / .banner -->
<section class="container content">
    <div class="columns">
        <div class="column three-fourths">
            <!-- 搜索框 -->
            <script>
                (function () {
                    var cx = '011888505851293147966:d1ple63uhiy';
                    var gcse = document.createElement('script');
                    gcse.type = 'text/javascript';
                    gcse.async = true;
                    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
                    var s = document.getElementsByTagName('script')[0];
                    s.parentNode.insertBefore(gcse, s);
                })();
            </script>
            <gcse:searchbox></gcse:searchbox>
            <gcse:searchresults></gcse:searchresults>
            <!-- 搜索框结束 -->
            <article class="article-content markdown-body">
                {{ content }}
            </article>
            <div class="share">
                {% include sns-share.html %}
            </div>
            <div class="comment">
                {% include comments.html %}
            </div>
        </div>
        <div class="column one-fourth">
            {% include sidebar-search.html %} {% include sidebar-categories-nav.html %}
        </div>
    </div>
</section>
<!-- /section.content -->