---
layout: page
---

<h1 style="margin-bottom:0px">{{ page.title }}</h1>
{% if page.badges %}{% for badge in page.badges %}<span class="badge badge-{{ badge.type }}">{{ badge.tag }}</span>{% endfor %}{% endif %}
<span class="post-date" style="font-style: italic;">{{ page.date | date: "%B %d, %Y" }}</span>
{{ content }}

<!-- 图片缩放 -->
<style>
	img {
		cursor: pointer;
		transition: -webkit-transform 0.1s ease
	}
	img:hover{
		transform: scale(1.06);
		-ms-transform: scale(1.06);	/* IE 9 */
		-webkit-transform: scale(1.06);	/* Safari 和 Chrome */
		-o-transform: scale(1.06);	/* Opera */
		-moz-transform: scale(1.06);	/* Firefox */
	}
	img:focus {
		transform: scale(1.6);
		-ms-transform: scale(1.6);	/* IE 9 */
		-webkit-transform: scale(1.6);	/* Safari 和 Chrome */
		-o-transform: scale(1.6);	/* Opera */
		-moz-transform: scale(1.6);	/* Firefox */
	}
</style>
<script>
	document.addEventListener('DOMContentLoaded', function(){
		var imgs = document.querySelectorAll('img');
		Array.prototype.forEach.call(imgs, function(el, i) {
			if (el.tabIndex <= 0) el.tabIndex = 100;
		});
	});
</script>